body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001937;
}

#stage {
  padding: 0;
  margin: 0;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  overflow: hidden;
  backface-visibility: hidden;
}

canvas,
img {
  padding: 1px;
  margin: 0;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
  overflow: hidden;
  background-color: #000000;
  border: 1px white solid;
  backface-visibility: hidden;
}
